html {
	font: 300 100%/1.25 "Helvetica Neue", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 1.25em;
	padding: 0 calc((100% - 60em) / 2);
}

h1 {
	line-height: 1;
	margin: 0 0 .25em;
}

a {
	color: currentColor;
}
